h1.select {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    /* font-size: 24px; */
    line-height: 36px;

    color: #1D355D;
}


button.choose-mode {
    border: 2px solid #1D355D;
    border-radius: 12px;
    width: 100%;
    padding: 12px;
    background: #fff;
    /* display: flex; */
    /* justify-content: center; */
    margin: 9px 0;
    /* font-weight: 600; */
    font-size: 18px;
    color: #1D355D;
    text-align: left;
}


@media only screen and (max-width: 415px) {
     h1{
        font-size: 20px;
    }
/* div.component{
    width: 85%;
    margin: 20% auto;

} */
}