@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 18px;
}
/* div.first-div{
    position: relative;
} */
div.component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 50%; */
    /* margin: 20% auto; */
    min-width: 500px;
}



div.quiz {
    background: #FFFFFF;
    border-radius: 24px;
    /* width: 50%; */
    margin: auto;
    padding: 30px;
}

div.component a{
    text-decoration: none;
}


@media screen and (max-width: 415px) {
h1.country-h1{
    font-size: 25px;
}
div.component{
min-width: 350px;
}
}

@media screen and (max-width: 321px) {
    div.component{
        min-width: 300px;
        }
}